html
  head
    title="sup"
  body
    p=userId
    each val in events
      ul
        li=val.userId
        li=val.event_date
        li=val.src
        li=val.event
    each val in qaAct
      ul
        li=val.dt
        li=val.activity
        li=val.payload
        li=val.billing
        li=val.platform
    each val in prodAct
      ul
        li=val.dt
        li=val.activity
        li=val.payload
        li=val.billing
        li=val.platform
    